In [2]:
import wmfdata as wmf

In [12]:
contributor_event = wmf.presto.run("""
SELECT
    CAST(FROM_ISO8601_TIMESTAMP(meta.dt) AS DATE) AS dt,
    COUNT(*) AS events
FROM event.mediawiki_wikistories_contribution_event
WHERE
    year >= 0
GROUP BY
    CAST(FROM_ISO8601_TIMESTAMP(meta.dt) AS DATE)
ORDER BY
    dt ASC
""").set_index("dt")

In [13]:
contributor_event

            events
dt
2022-07-28       1
2022-07-29      17
2022-07-30       3
2022-07-31       7
2022-08-01       2
...            ...
2022-10-08     325
2022-10-09       2
2022-10-10       8
2022-10-11       7
2022-10-12       7

[73 rows x 1 columns]

In [15]:
sanitized_contributor_event = wmf.presto.run("""
SELECT
    CAST(FROM_ISO8601_TIMESTAMP(meta.dt) AS DATE) AS dt,
    COUNT(*) AS events
FROM event_sanitized.mediawiki_wikistories_contribution_event
WHERE
    year >= 0
GROUP BY
    CAST(FROM_ISO8601_TIMESTAMP(meta.dt) AS DATE)
ORDER BY
    dt ASC
""").set_index("dt")

This looks a bit weird: we have data from 2022-08-21 to 2022-08-28, and then again from 2022-10-04 to 2022-10-12. But that actually looks right, because there are two sanitization jobs, one running in real time and the other after 45 days. We started sanitizing on 2022-10-04, and the follow-up job is gradually filling in the old data.

In [16]:
sanitized_contributor_event

            events
dt
2022-08-21       7
2022-08-22      25
2022-08-23      11
2022-08-27      71
2022-08-28       5
2022-10-04      68
2022-10-05      72
2022-10-06     254
2022-10-07     189
2022-10-08     325
2022-10-09       2
2022-10-10       8
2022-10-11       7
2022-10-12       7

In [17]:
consumer_event = wmf.presto.run("""
SELECT
    CAST(FROM_ISO8601_TIMESTAMP(meta.dt) AS DATE) AS dt,
    COUNT(*) AS events
FROM event.mediawiki_wikistories_consumption_event
WHERE
    year >= 0
GROUP BY
    CAST(FROM_ISO8601_TIMESTAMP(meta.dt) AS DATE)
ORDER BY
    dt ASC
""").set_index("dt")

In [18]:
consumer_event

            events
dt
2022-08-04      11
2022-08-05      10
2022-08-06      13
2022-08-07       6
2022-08-08       3
...            ...
2022-10-08     734
2022-10-09      10
2022-10-10      35
2022-10-11      35
2022-10-12      19

[70 rows x 1 columns]

In [19]:
sanitized_consumer_event = wmf.presto.run("""
SELECT
    CAST(FROM_ISO8601_TIMESTAMP(meta.dt) AS DATE) AS dt,
    COUNT(*) AS events
FROM event_sanitized.mediawiki_wikistories_consumption_event
WHERE
    year >= 0
GROUP BY
    CAST(FROM_ISO8601_TIMESTAMP(meta.dt) AS DATE)
ORDER BY
    dt ASC
""").set_index("dt")

In [20]:
sanitized_consumer_event

            events
dt
2022-08-21       3
2022-08-22      18
2022-08-23      44
2022-08-24       2
2022-08-25       7
2022-08-26       1
2022-08-27      96
2022-08-28       5
2022-10-04      88
2022-10-05     129
2022-10-06     344
2022-10-07     364
2022-10-08     734
2022-10-09      10
2022-10-10      35
2022-10-11      35
2022-10-12      19